@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap');

body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  line-height: 1.5 !important;
}

a,
button {
  transition: all 0.2s;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
}
select {
  cursor: pointer;
}

.text-roboto {
  font-family: 'Roboto';
}

.text-noto {
  font-family: 'Noto Sans TC';
}
